// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  &.mytheme.v-app {
    background-color: transparent;
  }

  .v-ui {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .v-textfield {
    width: 200px;
    height: 55px;
    border-top: 0;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: none;
    border-radius: 0;
    outline: none;
  }

  .v-textfield:focus {
    width: 200px;
    height: 55px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid blue;
    outline: none;
    box-shadow: none;
    border-radius: 0;
  }

  // COMPONENT TEXTFIELDWITHICON STYLES - START

  .v-slot-textfieldicon {
    position: absolute;
    left: 10px;
  }


  .v-slot-textfieldWithIcon {
    position: relative;
  }

  .textfieldWithIcon {
    width: 100%;
  }

  .v-caption-textfieldicon {
    font-size: 31px;
    color: lightgrey;
  }

  .textfieldplaceholder {
    font-size: 25px;
    color: dimgray;
    position: absolute;
    left: 60px;
    top: 5px;
    font-weight: lighter;
    cursor: text;
  }

  .textfieldwidth, .textfieldwidth:focus, .v-slot-textfieldwidth, .searchLeft, .searchRigth, .v-slot-overLayout, .overLayout, .innerCenterWrapper, .v-slot-innerCenterWrapper {
    width: 100%;
    max-width: 1080px;
    padding: 0;
  }
  // COMPONENT TEXTFIELDWITHICON STYLES - END

  // HEADER - START

  .header_main {
    align-self: center;
    width: 100%;
    height:4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 10px 10px 10px 10px;
  }

  .header_main_logo {
    color: white;
    padding: 0px;
    font-size: 24px;
    cursor: pointer;
  }

  .header_main_menuBox {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .header_main_menuBox_headLabel {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
  }

  .v-slot-header_main_menuBox {
    width: 100%;
    height:100%;
  }

  .v-slot-header_main {
    display: flex;
    justify-content: center;
  }

  .v-slot-header_menuBox {
    height: auto;
  }

  // HEADER - END

  // PANEL - START

  .panel{
    padding: 1rem;
  }

  //PANEL - END

  //BUTTON - START

  .loginButton{
    background-color: blue;
  }

  .v-button:hover:after {
    box-shadow: none;
  }

  .v-button {
    width: 200px;
    height: 47px;
    border: none;
    outline: none;
    color: white;
    box-shadow: none;
    background-image: none;
  }

  .v-button:focus:after {
    outline: none;
    box-shadow: none;
  }

  .v-button:active {
    opacity: 50%;
  }
  //BUTTON - END

  // HEADER - START

  .header_main {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 10px 10px 10px 10px;
  }

  .header_main_logo {
    color: white;
    padding: 0px;
    font-size: 24px;
    cursor: pointer;
  }

  .header_main_menuBox {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .header_main_menuBox_headLabel {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
  }

  .v-slot-header_main_menuBox {
    width: 100%;
  }

  .v-slot-header_main {
    display: flex;
    justify-content: center;
  }

  .v-slot-header_menuBox {
    height: auto;
  }

  // HEADER - END

  .v-slot-footer_main{
  margin-top: auto;
  width: 100%;
}

  // FOOTER - START

  .footer_main {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 10px;
  }

  .footer_main_container {
    //container specific code if needed
    border-top: 1px solid rgba(0, 0, 0, 0.5);

  }

  // FOOTER - END

  // GRID LAYOUT - START
  .v-gridlayout{
    margin: 1rem;
  }

  .confirmButton,
  .addCarButton{
    background-color: blue;
  }
  //GRID LAYOUT - END

}
